
#sidebar {
  width: 20%;
  height: 100vh;
  float: left;
  padding: 20px;
}

#main {
  width: 80%;
  float: left;
}

table {
  position: relative;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(34,36,38,.1);
}

.robot {
  width: 16px;
  height: 16px;
  background: red;
  position: absolute;
  border-right: 5px solid blue;
}